<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crud Nodejs</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/bootstrap.css"> -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head> 
<body>
  <div class="container">
    <h2><%= title %></h2>
    <div>
      <a href="/" class="btn btn-sm btn-dark"><- Back</a>
    </div>
    <form action="/update" method="post">
      <input type="hidden" name="id" value="<%= user.id %>">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Enter Name" value="<%= user.name %>" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email" value="<%= user.email %>" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="number" name="phone" id="phone" class="form-control" placeholder="Enter Phone Number" value="<%= user.phone_no %>" required>
      </div>
      <button type="submit" class="btn btn-warning btn-lg btn-block">Edit</button>
    </form>
  </div>
</body>
</html>